<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings version="1">
  <category id="general" label="General">
    <group id="1">
      <setting id="feed_url" type="string" label="Program feed URL" default=""/>
      <setting id="direct_stream_url" type="string" label="Direct channel URL" default=""/>
      <setting id="direct_stream_title" type="string" label="Direct channel title" default="Canale diretto"/>
      <setting id="feed_user_agent" type="string" label="User-Agent" default="Mozilla/5.0 (iPad; CPU OS 17_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.0 Mobile/15E148 Safari/604.1"/>
      <setting id="feed_timeout" type="integer" label="Timeout seconds" default="12"/>
    </group>
  </category>
</settings>
